.darkmode-icon {
    margin: 3px;
    font-size: 1.4rem !important;
}

.dropdown-filter .css-14lo706 {
    width: 75px;
}

/* // Mobile Screen */
@media (max-width: 599px) {
    .darkmode-icon {
        margin: 2px;
        font-size: 1rem !important;
    }
}

/* //Tablet Screen */
@media (min-width: 600px) and (max-width:1023px) {
    .darkmode-icon {
        font-size: 1.2rem !important;
    }
}